:root {
    --accent: rgb(138, 92, 245);
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5a5a5a;
    --color-base-100: #222222;
}

* {
    border: 1px solid red;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-base-00);
    color: var(--color-base-100);
    width: 500px;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-base-10);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    background-color: var(--color-base-05);
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

h1, h2 {
    margin: 0;
    padding: 0.5rem 0;
    color: var(--accent);
}

#description, #features {
    margin: 1rem 0;
}

#features {
    background-color: var(--color-base-20);
    padding: 0.5rem;
    border-radius: 5px;
}

#features ul {
    list-style-type: disc;
    margin-left: 20px;
}

#action-section {
    text-align: center;
    margin: 1rem 0;
}

#collectBtn {
    background-color: var(--accent);
    color: var(--color-base-00);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#textAreaDiv {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textToCopy {
    font-family: 'Courier New', monospace;
    width: 100%;
    height: 7rem;
    font-size: 14px;
    padding: 0.5rem;
    border: 2px solid var(--color-base-35);
    border-radius: 4px;
    resize: none;
}

/* Center Form and its elements */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
}


input[type="password"] {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--color-base-35);
    border-radius: 4px;
    width: 100%;
    align-self: center;

}

button[type="submit"] {
    background-color: var(--accent);
    color: var(--color-base-00);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;

}
