.theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #fb464c;
    --color-orange-rgb: 233, 151, 63;
    --color-orange: #e9973f;
    --color-yellow-rgb: 224, 222, 113;
    --color-yellow: #e0de71;
    --color-green-rgb: 68, 207, 110;
    --color-green: #44cf6e;
    --color-cyan-rgb: 83, 223, 221;
    --color-cyan: #53dfdd;
    --color-blue-rgb: 2, 122, 255;
    --color-blue: #027aff;
    --color-purple-rgb: 168, 130, 255;
    --color-purple: #a882ff;
    --color-pink-rgb: 250, 153, 205;
    --color-pink: #fa99cd;
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-100: #dadada;
    --color-accent-hsl: var(--accent-h),
              var(--accent-s),
              var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --text-accent: var(--color-accent-1);
    --interactive-accent: var(--color-accent);
    --interactive-accent-hover: var(--color-accent-1);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
          0 2px 4px 0 rgba(0,0,0,.15),
          0 1px 1.5px 0 rgba(0,0,0,.1),
          0 1px 2px 0 rgba(0,0,0,.2),
          0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
          0 2px 3px 0 rgba(0,0,0,.3),
          0 1px 1.5px 0 rgba(0,0,0,.2),
          0 1px 2px 0 rgba(0,0,0,.4),
          0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
          0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
          0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
          0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
          0px 30px 90px rgba(0, 0, 0, 0.2);
    --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
    --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  }

:root {
    --accent: rgb(138, 92, 245);
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5a5a5a;
    --color-base-100: #222222;
}

* {
    border: 1px solid white;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-base-00);
    color: var(--color-base-100);
    width: 500px;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-base-10);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    background-color: var(--color-base-05);
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

h1, h2 {
    margin: 0;
    padding: 0.5rem 0;
    color: var(--accent);
}

#description, #features {
    margin: 1rem 0;
}

#features {
    background-color: var(--color-base-20);
    padding: 0.5rem;
    border-radius: 5px;
}

#features ul {
    list-style-type: disc;
    margin-left: 20px;
}

#action-section {
    text-align: center;
    margin: 1rem 0;
}

#collectBtn {
    background-color: var(--accent);
    color: var(--color-base-00);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#textAreaDiv {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#referenceBibtex {
    font-family: 'Courier New', monospace;
    width: 100%;
    height: 7rem;
    font-size: 14px;
    padding: 0.5rem;
    border: 2px solid var(--color-base-35);
    border-radius: 4px;
    resize: none;
}

/* Center Form and its elements */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
}


input[type="password"] {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--color-base-35);
    border-radius: 4px;
    width: 100%;
    align-self: center;

}

button[type="submit"] {
    background-color: var(--accent);
    color: var(--color-base-00);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;

}
